/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #E40A0A;

  position: fixed;
  z-index: 1031;
  top: 32px;
  left: 160px;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #E40A0A, 0 0 5px #E40A0A;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.table-wrapper {
    max-height: 800px;
    overflow-x: auto;
}

h3.page-title {
    background: url('http://stage.blindsdirect.co.za/wp-content/uploads/2016/05/roller-blinds-icon.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom: 5px;
    background-size: contain;
    padding-top: 5px;
}

h4.sub-title {
    width: 50%;
}

.option {
    min-width: 30%;
    background: #ffffff;
    float: left;
    margin-right: 5px;
    text-align: center;
    min-height: 100px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border: 1px solid #e5e5e5;
    transition: all .5s;
}
.option a {
    padding: 50px;
    /* margin-top: 50px; */
    display: block;
    text-decoration: none;
    font-size: 150%;
}

.options-wrap {
    /* display: inline-block; */
    width: 95%;
    margin: 0 auto;
}

.option:hover {
    background: ghostwhite;
}
form.uploadform {
    background: #ffffff;
    padding: 30px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.meta-details {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 20px;
    margin-top: 15px;
}